*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form{
    width: auto;
    background: #3863b4;
    padding: 30px;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 10%;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form p{
    height: 50px;
    font-size: 18px;
}

.form h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.dis{
    width: 100%;
    background: #05050586;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(221, 3, 255);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form a{
    color: white;
    text-decoration: underline;
}

.form a:hover{
    color: white;
    text-decoration: underline;
}

.form .boton{
    width: 100%;
    background: rgb(221, 3, 255);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}


.radio{
    margin-left: 4rem;
}
label{
    margin-right: 5rem;
}






